*{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nava{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.633);
    align-items: center;
}
.lista{
    padding-top: 25px;
    padding-right: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-around;
}
.lista a{
    text-decoration: none;
    color: rgb(132, 7, 7);
}
.lista li{
    margin-left: -40px;
    list-style: none;
}
.icono{
    font-size: 30px;
}